.navbar2{
  display:flex;
  flex: 1 1 auto;
  width:100%;
  max-width:100%;
  justify-content: space-between;
  margin-bottom:10px;
}
.nav-left{
    margin-left:5%;
}
.nav-right{
    margin-right:5%;
}
